* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: black !important;
  color: white;
}

@mixin flexDisplay($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
.authFormContainer {
  &.signUpForm {
    .mantine-PasswordInput-wrapper {
      margin-bottom: 20px;
    }
  }
  max-width: 550px;
  min-width: 0;
  min-height: 100vh;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  form {
    width: 100%;
    h2 {
      margin-bottom: 30px;
      text-align: center;
    }
    .mantine-TextInput-label,
    .mantine-NumberInput-label,
    .mantine-PasswordInput-label {
      font-weight: 600;
      font-size: 16px;
    }

    .mantine-TextInput-wrapper {
      margin-bottom: 20px;
      width: 100%;

      .mantine-TextInput-input {
        padding: 0px 20px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 500;
        &:focus {
          outline: 3px solid rgb(70, 79, 202);
        }
      }
    }

    .mantine-NumberInput-wrapper {
      margin-bottom: 20px;
      width: 100%;

      .mantine-NumberInput-input {
        padding: 0px 20px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 500;
        &:focus {
          outline: 3px solid rgb(70, 79, 202);
        }
      }
    }

    .btn {
      margin-top: 30px;
    }
    .mantine-PasswordInput-wrapper {
      margin-bottom: 5px;
      .mantine-PasswordInput-input {
        padding: 0px 20px;
        margin-top: 5px;
        .mantine-PasswordInput-innerInput {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .forgotPasswordLink {
      font-weight: 600;
      color: rgb(70, 79, 202);
      padding-bottom: 20px;
    }
  }

  .formOr {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid gray;
    padding-top: 30px;
    button {
      margin: 20px;
    }
    a {
      font-weight: 600;
      color: rgb(70, 79, 202);
    }
  }
}

.formLogoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    margin-bottom: 30px;
    color: white;
  }
  img {
    width: 70px;
  }
}

.verificationContainer {
  width: 100%;
  min-height: 100vh;
  @include flexDisplay(center, center, row);
  .container {
    width: 380px;
    height: 380px;
    padding: 30px;
    @include flexDisplay(center, center, column);
    background-color: rgb(21, 21, 25);
    border-radius: 20px;
    text-align: center;
    p {
      margin: 5px;
    }
    .loaderContainer {
      margin-top: 30px;
    }
  }
}

.confirmationContainer {
  @include flexDisplay(space-between, center, column);
  min-height: 100vh;
  padding: 50px 0px;
  a,
  span {
    color: rgb(70, 158, 202);
  }
  .emailNarration {
    text-align: center;
    img {
      width: 120px;
    }
    h1 {
      color: white;
    }
    p {
      font-weight: 600;
    }
  }
}

.notificationContainer {
  z-index: 20;
  width: 350px;
  position: fixed;
  bottom: 30px;
  left: 30px;
}
